*
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  
 
}
body, div ,dl ,dt ,ul ,li ,h1 ,h2, h3, a, p, input, form{
	margin: 0;
	padding: 0;
	font-family:arial;

}
ol, ul, li{
	list-style: none;
	display: block;
}

a{
	text-decoration:none;
	color: #000000;
	display: block;
}
img{
	border:none;
	display: block;
}
.clearfloat:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
}
